@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Source+Sans+Pro:wght@700&display=swap");

:root {
  --body-font: "Archivo Narrow", sans-serif;
  --title-font: "Source Sans Pro", sans-serif;
  --sub-title-font: "Droid Sans", sans-serif;

  --primary-color: #0e75ec;
  --title-font-color: white;
  --body-font-color: #7392b5;
  --nav-font-color: #b6d5f9;
  --icon-color: white;
  --mobile-menu-color: #052347;
  --mobile-menu-divider-color: #08478e;
  --body-divider-color: #052347;
  --section-background-color: #010b17;
  --inactive-input-label-color: #576a81;
  --input-color: white;
  --input-border-color: #08478e;
  --active-btn-color: #010b17;
  --hover-btn-background: rgba(98, 171, 255, 0.116);
}

body,
.primary-btn {
  font-family: var(--body-font);
}

body {
  background-color: #02162f;
  margin: 0;
  color: var(--body-font-color);
  font-size: 1rem;
}

h1 {
  font-family: var(--title-font);
  color: var(--title-font-color);
  margin-bottom: 14px;
  margin-top: 14px;
  text-align: center;
  font-size: 1.625rem;
}

h2 {
  font-family: var(--title-font);
}

.hero,
.about,
.skills,
.portfolio,
.contact,
.footer {
  padding-left: 25px;
  padding-right: 25px;
}

.action-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.primary-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 0.25em;
  color: var(--primary-color);
  font-size: 1em;
  padding: 9px 34px 9px 34px;
  font-weight: bold;
  

  &:hover {
    background-color: var(--hover-btn-background);
    cursor: pointer;
    transition: background-color 200ms ease-in;
  }

  &:active {
    background-color: var(--primary-color);
    color: var(--active-btn-color);
    transition: background-color 50ms ease-in,
                color 50ms ease-in;
  }
}

h3 {
  font-style: var(--title-font);
  color: var(--title-font-color);
  font-weight: bold;
  font-size: 1.125;
  margin-top: 14px;
  margin-bottom: 14px;
}

h4 {
  font-style: var(--sub-title-font);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 26px;

  .social-btn {
    padding: 14px;
    border: 3px solid var(--primary-color);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
      background-color: var(--hover-btn-background);
      cursor: pointer;
      transition: background-color 200ms ease-in;
    }
  
    &:active {
      background-color: var(--primary-color);
      color: var(--active-btn-color);
      transition: background-color 50ms ease-in;
    }

    img {
      width: 22px;
      height: 22px;
    }


  }
}

.navbar {
  .container {
    color: var(--nav-font-color);
    display: flex;
    padding: 25px;
    align-items: center;
    place-content: space-between;

    nav {
      display: none;
    }

    .menu-btn {
      width: 32px;
      height: 25px;
    }

    .mobile-exit {
      width: 32px;
      height: 32px;
      display: none;
    }

    .primary-nav {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .mobile-menu {
      width: 33.5vh;
      height: 100vh;
      background-color: var(--mobile-menu-color);
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      flex-flow: column;

      .mobile-exit {
        position: absolute;
        top: 35px;
        right: 25px;
        display: block;
      }

      .divider {
        height: 2px;
        background-color: var(--mobile-menu-divider-color);
        width: 169px;
        margin-left: auto;
        margin-right: auto;
      }

      .primary-nav {
        width: 100%;
        margin-top: 33px;
        margin-bottom: 42px;

        li {
          padding: 15px 0px 15px 33px;
          font-size: 1.25rem;
          width: 100%;
        }

        .action-item {
          margin-top: 27px;
          display: flex;
          justify-content: center;
          padding: 0;
        }
      }
    }
  }
}

.hero {
  padding-top: 40px;
  padding-bottom: 30px;

  .container {
    display: flex;
    flex-flow: column;

    .left-col {
      order: 2;
      margin-top: 30px;

      .my-name-text {
        font-size: 1.625rem;
      }

      .title {
        font-size: 1.125rem;
        font-family: var(--title-font);
        font-weight: 700;
        color: var(--title-font-color);
        display: block;
        margin-bottom: 15px;
      }

      .content {
        margin-top: 10px;
        display: block;
      }

      .my-role-text {
        color: var(--primary-color);
      }
    }

    .right-col {
      order: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-photo {
        width: 206px;
        height: 295px;
      }
    }
  }
}

.about {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    flex-direction: column;

    .left-col {
      order: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 17px;

      img {
        width: 261px;
        height: 303px;
      }
    }
    .right-col {
      order: 2;

      h1 {
        text-align: center;
      }
    }
  }
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    h1 {
      text-align: center;
    }

    .capsule-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;

      .capsule-item {
        width: 144px;
        height: 194px;
        background-color: #052347;
        border-radius: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 9px;
        margin-right: 9px;
        margin-top: 15px;
        margin-bottom: 15px;

        .img-container {
          height: 90px;
          margin-top: 20px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }

        img {
          max-width: 90px;
          max-height: 90px;
        }

        label {
          font-family: var(--sub-title-font);
          text-align: center;
          width: 90px;
          height: 50px;
          margin: 0;
        }
      }
    }
  }
}

.portfolio {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .project-highlight,
    .project-highlight-right {
      margin-top: 40px;
      margin-bottom: 70px;

      .img-col {
        max-width: 311px;
        max-height: 237px;
        margin-bottom: 20px;
      }

      .info-col {
        h2 {
          padding: 0;
          margin: 0;
          color: var(--title-font-color);
          font-size: 1.25rem;
        }

        h4 {
          color: var(--primary-color);
          margin-bottom: 4px;
        }

        text {
          display: block;
          margin-bottom: 40px;
        }

        .title-row {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .git-btn {
            width: 32px;
            height: 32px;
            margin-left: 30px;
            margin-right: 30px;
            cursor: pointer;

            &:hover {
              filter: invert(41%) sepia(78%) saturate(5754%) hue-rotate(202deg) brightness(99%) contrast(89%);
            }
          }
        }

        .tag-container {
          display: flex;
          flex-wrap: wrap;
          font-size: 0.875rem;

          .tag-btn {
            border: 3px solid var(--primary-color);
            border-radius: 19px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            font-weight: bold;
            margin-right: 20px;
            margin-bottom: 10px;

            &:hover {
              background-color: var(--hover-btn-background);
              cursor: pointer;
              transition: background-color 200ms ease-in;
            }
          
            &:active {
              background-color: var(--primary-color);
              color: var(--active-btn-color);
              transition: background-color 50ms ease-in,
                          color 50ms ease-in;
            }
          }
        }
      }
    }

    .project-highlight-right {
      text-align: right;

      .title-row {
        flex-direction: row-reverse;
      }

      .tag-container {
        justify-content: right;
      }
    }

    .others-projects {
      .container {
        .project-gallery {
          display: flex;
          flex-wrap: wrap;
          justify-content: left;

          .item-card {
            background-color: #02162f;
            border-radius: 0.5rem;
            display: flex;
            flex-flow: column;
            padding: 18px;
            margin-top: 40px;
            margin-bottom: 10px;

            img {
              width: 100%;
              height: 222px;
            }

            text {
              font-size: 1rem;
            }

            .title-row {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;
              margin-bottom: 10px;

              h5 {
                font-size: 1.25rem;
                color: var(--title-font-color);
                padding: 0;
                margin: 0;
              }

              img {
                width: 24px;
                height: 24px;
              }
            }

            .tag-container {
              margin-top: 15px;

              a {
                text-decoration: none;
                font-size: 0.75rem;
                color: #576a81;
                font-family: var(--sub-title-font);
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .content-row {
      .info-col {
        margin-top: 40px;
        padding-bottom: 30px;
        border-bottom: 2px solid var(--body-divider-color);

        h3 {
          margin-bottom: 10px;
        }

        .contact-row {
          display: flex;
          justify-content: center;
          margin-top: 60px;

          .item {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            margin-left: 20px;
            width: 150px;

            .icon-container {
              width: 48px;
              height: 32px;
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            label {
              font-size: 1rem;
              color: var(--input-color);
            }
          }
        }
      }

      .form-col {
        margin-top: 60px;

        .form-input,
        .form-textarea {
          font-size: 1rem;
          font-weight: bold;
        }

        .form-input {
          width: 100%;
          margin-bottom: 45px;
          position: relative;

          .label {
            display: block;
            position: absolute;
            bottom: 7px;
            transition: bottom 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
            color: var(--inactive-input-label-color);
          }

          input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid var(--input-border-color);
            color: var(--input-color);
            font-family: var(--body-font);
            font-size: 1rem;
            width: 100%;
            padding: 0;
            padding-bottom: 5px;
            padding-top: 5px;
            transition: border-color 200ms ease-in;
          }

          .input:focus {
            outline: none;
          }
        }

        .form-textarea {
          position: relative;

          .label {
            position: absolute;
            top: 5px;
            transition: top 200ms ease-in;
            color: var(--inactive-input-label-color);
          }

          textarea {
            background: none;
            display: block;
            border: none;
            border-bottom: 2px solid var(--input-border-color);
            position: relative;
            color: var(--input-color);
            font-family: var(--body-font);
            font-size: 1rem;
            width: 100%;
            height: 100px;
            padding: 0;
            padding-bottom: 5px;
            padding-top: 5px;
            transition: border-color 200ms ease-in;
            resize: none;

            &:focus {
              outline: none;
            }
          }
        }

        .form-input:focus-within {
          .label {
            color: var(--primary-color) !important;
          }
          .input {
            border-color: var(--primary-color);
          }
        }

        .form-textarea:focus-within {
          .label {
            color: var(--primary-color) !important;
          }
          .textarea {
            border-color: var(--primary-color);
          }
        }

        .input:focus ~ .label,
        .input:not(:placeholder-shown).input:not(:focus) ~ .label {
          color: var(--inactive-input-label-color);
          bottom: 35px;
          font-size: 0.875rem;
        }

        .textarea:focus ~ .label,
        .textarea:not(:placeholder-shown).textarea:not(:focus) ~ .label {
          color: var(--inactive-input-label-color);
          top: -20px;
          font-size: 0.875rem;
        }
      }
    }
  }
}

.footer {
  background-color: var(--section-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .social-row {
      display: flex;
      flex-flow: column;
      align-items: center;
      border-bottom: 2px solid var(--body-divider-color);

      .social-container {
        padding-bottom: 25px;
      }

      .logo {
        margin-bottom: 15px;
      }
    }
    .navigation {
      width: 100%;

      .nav {
        display: flex;
        place-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 25px 25px 25px 0;
        color: var(--nav-font-color);

        li {
          font-size: 1.25rem;
        }
      }

      .credits-row {
        display: flex;
        justify-content: center;
        margin-top: 25px;

        .author {
          text-align: center;   
          font-family: var(--sub-title-font);
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

.hero,
.about,
.skills,
.portfolio,
.contact,
.footer {
  padding-left: 140px;
  padding-right: 140px;

}



  .navbar {
    .container {
      padding-left: 140px;
      padding-right: 125px;

      .menu-btn {
        display: none;
      }

      nav {
        display: flex;

        .primary-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            padding-left: 15px;
            padding-right: 15px;
          }

          .action-item {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .hero {
    padding-bottom: 75px;

    .container {
      flex-flow: row;
      justify-content: space-between;
      align-items: center;

      .left-col {
        max-width: 660px;
        order: 1;
        flex-grow: 2;

        .title {
          font-size: 1.875rem;

          .my-name-text {
            font-size: 3.125rem;
            display: block;
          }
        }

        .action-row {
          justify-content: left;
        }
      }
      
      .right-col {
        order: 2;
        flex-direction: row;
        justify-content: right;
        margin-left: 85px;
        flex-grow: 1;

        .profile-photo {
          width: 286px;
          height: 409px;
        }

        .social-container {
          flex-direction: column;
          margin-left: 30px;

          .social-btn {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .about {
    padding-top: 75px;
    padding-bottom: 75px;

    .container {
      flex-flow: row;
      align-items: center;

      .left-col {
        img {
          min-width: 407px;
          min-height: 473px;
        }
        margin-right: 95px;
      }

      .right-col {
        h1 {
          text-align: left;
        }

        .action-row {
          margin-top: 56px;
          justify-content: left;
        }      
      }
    }
  }

  .skills {
    padding-top: 75px;
    padding-bottom: 75px;

    .container {
      .capsule-wrap {
        .capsule-item {
          width: 175px;
          height: 220px;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }

  .portfolio {
    padding-top: 75px;
    padding-bottom: 75px;

    .container {
      .project-highlight {
        flex-flow: row;

        .img-col {
          margin-right: 58px;
        }
      }

      .project-highlight-right {
        flex-flow: row-reverse;

        .img-col {
          margin-left: 58px;
        }
      }

      .project-highlight, 
      .project-highlight-right {
        display: flex;

        .img-col {
          max-width: 441px;
          max-height: 337px;
        }

        .info-col {
          h2 {
            font-size: 2.5rem;
          }
        }
      }

      .others-projects {
        .container {
          h1 {
            text-align: left;
            margin-bottom: 30px;
          }

          .project-gallery {
            margin-left: -15px;
            margin-right: -15px;

            .item-card {      
              width: 230px;
              margin-right: 15px;
              margin-left: 15px;
              margin-top: 15px;
              margin-bottom: 15px;
            }

            .action-row {
              width: 100%;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .contact {
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
      .content-row {
        display: flex;
        flex-flow: row;

        .info-col{
          width: 400px;
          padding: 56px 56px 56px 0;
          border-bottom: none;
          border-right: 2px solid var(--body-divider-color);
          order: 1;
          

          h3 {
            font-size: 1.875rem;
          }

          .contact-row {
            margin-top: 80px;
          }
        }

        .form-col {
          width: 100%;
          padding: 40px 0px 56px 56px;
          order:2;

          .form-row {
            display: flex;

            .name-input {
              width: 70%;
              margin-right: 40px;
            }

            .phone-input {
              width: 30%;
            }
          }

          .action-row {
            justify-content: right;
          }
        }
      }
    }
  }

  .footer {
    padding-top: 75px;
    padding-bottom: 75px;

    .container {
      .social-row {
        flex-direction: row;
        justify-content: space-between;
      }

      .navigation {
        display: flex;
        justify-content: space-between;

        .nav {
          width: 300px;
        }

        .credits-row {
          .author {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
